[submodule "src/opentsdb-firehose-nozzle/src/github.com/gogo/protobuf"]
	path = src/opentsdb-firehose-nozzle/src/github.com/gogo/protobuf
	url = git@github.com:gogo/protobuf.git
[submodule "src/opentsdb-firehose-nozzle/src/github.com/gorilla/websocket"]
	path = src/opentsdb-firehose-nozzle/src/github.com/gorilla/websocket
	url = git@github.com:gorilla/websocket.git
[submodule "src/opentsdb-firehose-nozzle/src/github.com/cloudfoundry/noaa"]
	path = src/opentsdb-firehose-nozzle/src/github.com/cloudfoundry/noaa
	url = git@github.com:cloudfoundry/noaa.git
[submodule "src/opentsdb-firehose-nozzle/src/github.com/pivotal-cloudops/opentsdb-firehose-nozzle"]
	path = src/opentsdb-firehose-nozzle/src/github.com/pivotal-cloudops/opentsdb-firehose-nozzle
	url = git@github.com:pivotal-cloudops/opentsdb-firehose-nozzle.git
[submodule "src/opentsdb-firehose-nozzle/src/github.com/cloudfoundry-incubator/uaago"]
	path = src/opentsdb-firehose-nozzle/src/github.com/cloudfoundry-incubator/uaago
	url = git@github.com:cloudfoundry-incubator/uaago.git
[submodule "src/opentsdb-firehose-nozzle/src/github.com/cloudfoundry/sonde-go"]
	path = src/opentsdb-firehose-nozzle/src/github.com/cloudfoundry/sonde-go
	url = git@github.com:cloudfoundry/sonde-go.git
[submodule "src/opentsdb-firehose-nozzle/src/github.com/pivotal-golang/localip"]
	path = src/opentsdb-firehose-nozzle/src/github.com/pivotal-golang/localip
	url = git@github.com:pivotal-golang/localip.git
